*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
    background-color: #000000;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}

/* NAVBAR */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 60px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background: #327e81; */
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@media (max-width: 768px){
    .logo{
        display: none;
    }
    .navbar-menu{
        width: 100%;
        max-height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

    }
    .header{
        width: 100%;
        max-height: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:300px){
    .navbar-menu {
        /* flex-direction: column; Stack items vertically */
        flex-wrap: wrap;
        text-align: center; /* Center text */
    }
    .navbar-menu a {
        margin-left: 0; /* Remove left margin */
        margin-bottom: 8px; /* Add bottom margin for spacing */
        font-size: 2.5vh; /* Adjust font size for smaller screens */
    }
    .first{
        margin-top: 50px;
    }
}
.navbar-menu a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
.navbar-menu a:hover{
    color: #0ef;
}

/* FIRST PAGE */
.first{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    /* background-color: #0ef; */
    margin-top: 60px;
}
.first_left{
    /* background-color: green; */
    width: 50%;
    min-height: 100vh;
    padding-top: 15%;
}
.first_left h3{
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
}
.first_left h1{
    font-size: 45px;
    font-weight: 700;
    margin: 2px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.first_left p{
    font-size: 28px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .3s;
}
.first_left p span{
    color: #0ef;
    font-weight: 700;
}

.first_right{    
    /* background-color: yellow; */
    width: 50%;
    min-height: 100vh;
    /* padding-bottom: 50px; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.first_right img{
    width: 70%;
    /* min-height: 10vh; */
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    filter: drop-shadow(0 3px 15px #0ef);
    background-color: #000000;
    /* margin-top: 60px; */
}


.first_sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 25px 15px 30px 0; 
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
.first_sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 0 cyan,
                0 0 10px cyan,
                0 0 20px cyan,
                0 0 20px cyan;
}
@media (max-width: 768px) {
    .first{
        width: 100%;
        flex-direction: column;
        padding: 0;
        /* padding-top: 10vh; */
    }
    .first_left{
        width: 100%;
        max-height: 100vh;
        text-align: center;
        margin-bottom: 50px;
    }
    .first_right{
        width: 80%;
        min-height: 100vw;
        text-align: center;
        margin-top: 20%;
        /* margin-bottom: 50px; */
    }
    .first_right img{
        /* width: auto; */
        height: auto;
    }
}


/* ABOUT PAGE */

.about{
    width: 100%;
    min-height: 80vh;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-text h2{
    font-size: 50px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px;
    letter-spacing: 2px;
}
.about-text p{
    width: 75%;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto 2rem;
    text-align: justify;
}
.about a{
    cursor: pointer;
}
.about p span{
    color: #0ef;
}
@media (max-width: 768px){
    .about p{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
}


/* PROJECT  PAGE*/

.project{
    width: 100%;
    max-height: 100%;
    padding-top: 60px;
}
.projecttop{
    width: 100%;
    height: 15vh;
    text-align: center;
    margin-bottom: 30px;
}
.projecttop h2{
    font-size: 50px;
}
.projecttop h2 span{
    color: #0ef;
}
.projectbottom{
    width: 100%;
    height: 100%;
    padding: 0 auto 2rem;
}
.projectbottom .projectrow{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.projectrow .project{
    border: 2px solid #0ef;
    border-radius: 5%;
    width: 25%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.project img{
    height: 32.5vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}
.project h5 {
    font-size: 20px;
    margin: 10px 0;
    color: #0ef;
}
.project p {
    font-size: 16px;
    margin: 8px 0;
    color: #ededed;
}

.languages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 10px ;
    box-sizing: border-box;
}
.languages h6{
    padding: 2px 10px 2px 10px ;
    border-radius: px;
    background-color: rgb(34, 33, 33);
    margin: 1px;
}
.projectlinks{
    padding: 10px;
    font-size: 20px;
    display: flex;
    gap: 15px;
    border-bottom: 2px solid #0ef;
}

@media(max-width: 768px){
    .projectrow{
        flex-direction: column;
        gap: 30px;
    }
    .projectrow .project{
        width: 100%;
        max-height: 90vh;
        padding-bottom: 20px;
    }
    .projectrow .project p{
       margin-top: 30px;
    }
    .projectrow .project img{
        max-height: 100%;   
     }
}


/* SKILLS PAGE */
.skill{
    width: 100%;
    max-height: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.skilltop{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}
.skilltop h2{
    font-size: 48px;
}
.skilltop h2 span{
    color: #0ef;
}
.skillbottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.skillbottomlanguages{
    width: 60%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.skillbottomlanguages h3{
    width: 153px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #0ef;
}
@media(max-width: 768px){
    .skillbottomlanguages{
        width: 80%;
    }
}


/* CONTACT PAGE */
.contact{
    width: 100%;
    max-height: 100%;
    text-align: center;
}
.contacttop{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.contacttop h2{
    font-size: 48px;
}
.contacttop h2 span{
    color: #0ef;
}
.contactbottom{
    width: 100%;
    max-height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.callmail {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callmail a{
    text-decoration: none;
    color: #ededed;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.callmail i{
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid #0ef;
    border-radius: 50%;
    padding: 5px;
}
.socialmedia{
    width: 100%;
    max-height: 100%;
}
.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 25px 15px 30px 0; 
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
.socialmedia a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
@media(max-width: 768px){
    .callmail a{
        width: fit-content;
        max-height: 100%;
    }
}





/* ANIMATION STYLE */

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}